DB_HOST=ep-gentle-surf-am4xf1os-pooler.c-5.us-east-1.aws.neon.tech
DB_PORT=5432
DB_USER=neondb_owner
DB_PASSWORD=npg_yLQ3SoAf5DRW
DB_NAME=neondb
DB_TLS=require
JWT_SECRET=dev-secret-change-in-production-dev
APNS_PRIVATE_KEY_FILE_HOST=/Users/unpluggeddev/Downloads/AuthKey_S7MHNGD3T4.p8
APNS_PRIVATE_KEY_FILE=/run/secrets/apns_key.p8
APNS_KEY_ID=S7MHNGD3T4
APNS_TEAM_ID=Q3936N34LZ
APNS_BUNDLE_ID=com.unplugged
APNS_ENVIRONMENT=production
