<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>processing</string>
		<string>remote-notification</string>
		<string>nearby-interaction</string>
		<string>bluetooth-peripheral</string>
	</array>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Unplugged uses the local network to find friends nearby so you can join a session without typing a code.</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_unplugged-rm._tcp</string>
		<string>_unplugged-rm._udp</string>
	</array>
	<key>NSNearbyInteractionUsageDescription</key>
	<string>Unplugged uses Ultra Wideband to confirm your friend's phone is right next to yours before pairing.</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Unplugged uses Bluetooth to find friends nearby when you're joining a session.</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>GIDClientID</key>
	<string>248747113550-5htme10p43snu6kdi7dr4h0pgtmddta4.apps.googleusercontent.com</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.248747113550-5htme10p43snu6kdi7dr4h0pgtmddta4</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
